@model PokemonDetailViewModel

<h3 id="pokemon-bg-name">
@Model.Pokemon.Name
</h3>
Pokedex ID: @Model.Pokemon.PokemonID
<br>
Generation : @Model.Pokemon.Generation
<br>
@if (Model.Pokemon.Type2 != null)
{
    <span>Type: <type type-name="@Model.Pokemon.Type1.TypeName"></type>, <type type-name="@Model.Pokemon.Type2.TypeName"></type></span>
}
else
{
    <span>Type: <type type-name="@Model.Pokemon.Type1.TypeName"></type></span>
}

<br>
Weaknesses: @foreach (var w in Model.Weaknesses)
{
    if (w != Model.Weaknesses.Last())
    {
        <span><type type-name="@w.TypeName"></type>,</span>
    }
    else
    {
        <type type-name="@w.TypeName"></type>
    }
}
<br>
Abilities: @foreach (var a in Model.Abilities)
{
    if (a != Model.Abilities.Last())
    {
        @: @a.AbilityName,
    }
    else
    {
        @: @a.AbilityName
    }
}