@model PokemonDetailViewModel

<h3>
    @Model.Pokemon.Name
</h3>
Pokedex ID: <span class="text-muted">@Model.Pokemon.PokemonID</span>
<br>
Generation : <span class="text-muted">@Model.Pokemon.Generation</span>
<br>
Weaknesses: @foreach (var w in Model.Weaknesses)
{
    if (w != Model.Weaknesses.Last())
    {
        <span><type type-name="@w.TypeName"></type>,</span>
    }
    else
    {
        <type type-name="@w.TypeName"></type>
    }
}
<br>
<span>
    Abilities:
    @foreach (var a in Model.Abilities)
    {
        if (a != Model.Abilities.Last())
        {
            @: <a href="#" data-toggle="tooltip" data-placement="bottom" title="@a.AbilityDescription">@a.AbilityName,</a>
        }
        else
        {
            @: <a href="#" data-toggle="tooltip" data-placement="bottom" title="@a.AbilityDescription">@a.AbilityName</a>
        }
    }
</span>
