@model PokemonDetailViewModel

@{
    var ImageSrc = "~/Images/" + Model.Pokemon.PokemonID.ToString() + ".png";
    var SpriteSrc = "~/Sprites/";
    var PokemonID = Model.Pokemon.PokemonID;
}
    
<div class="container">
    <div class="row mb-1">
        <div class="col">
            <center>
                <img src="@Url.Content(ImageSrc)" class="img-responsive">
            </center>
        </div>
    </div>
    <div class="row mb-4">
        <div align="center" class="container-fluid">
            <div class="col-md-2 type@(Model.Pokemon.Type1.TypeName) mb-1 align-content-center" style="display:inline-block">
                <span class="text-white font-weight-light">@Model.Pokemon.Type1.TypeName</span>
            </div>
            @if (Model.Pokemon.Type2 != null)
            {
                <div class="col-md-2 type@(Model.Pokemon.Type2.TypeName) mb-1 align-content-center" style="display:inline-block">
                    <span class="text-white font-weight-light">@Model.Pokemon.Type2.TypeName</span>
                </div>
            }
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm mb-2">
        <partial name="PokemonSummary" />
    </div>
    <div class="col-sm mb-2">
        <partial name="PokemonStats" />
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm mb-2">
        <partial name="PokemonInfo" />
    </div>
</div>
<hr />
<div class="row" style="background:">
    <div class="col-12">
        @if (!(Model.PrevPokemon is null))
        {
            <a asp-action="Pkm" asp-route-id="@(PokemonID - 1)" class="float-left hvr-shrink">
                @{ var SpriteImg = SpriteSrc + (PokemonID - 1).ToString() + ".png";}
                <img class="img-responsive" src="@Url.Content(SpriteImg)" />
                <center>← @Model.PrevPokemon</center>
            </a>
        }
        @if (!(Model.NextPokemon is null))
        {
            <a asp-action="Pkm" asp-route-id="@(PokemonID + 1)" class="float-right hvr-shrink">
                @{ var SpriteImg = SpriteSrc + (PokemonID + 1).ToString() + ".png";}
                <img class="img-responsive" src="@Url.Content(SpriteImg)" />
                <center>@Model.NextPokemon →</center>
            </a>
        }
    </div>
</div>
<br />
</div>

